---
import '../../../../packages/css/dist/thaiui.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ThaiUI Documentation | Design System for Thais</title>
  </head>

  <body>
    <h1>ThaiUI Documentation - Alpha</h1>

    <button class="btn">Hello!</button>
  </body>
</html>
